<section class="login">
  <div class="home">
    <% if !logged_in? %>
    <div>
      <h1>Welcome to Ride Sharing</h1>
      <p>A new way to change your trip</p>
      <a class="btn btn-outline-success" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-outline-dark" href="/login" role="button">Log In</a>
      <a class="g-signin2" data-onsuccess="onSignIn">Google Sign In</a>
    </div>

      <%# <div class="col-lg-6">
        <%=image_tag("ride2.jpg", alt: "Rails logo")  %>
      <%# </div> %>
  </div>

  <div class="logged_in">
    <% else %>
      <h1 class="display-4">Welcome to Ride Sharing</h1>
      <hr class="my-4">
      <div>
      <% if current_user.is_driver%>
          <%= link_to "Search for a request", search_requests_path, class: "btn btn-primary btn-lg", style:"background-color: #edc7b7"%>
          <%= link_to "Post an availability", new_availability_path, class: "btn btn-lg"%>
      <% else %>
        <%= link_to "Search for a ride", search_rides_path, class: "link-to-customebtn"%>
        <%= link_to "Make a request", new_request_path, class: "btn btn-primary btn-lg"%>
      <% end %>
    <% end %>
      </div>
  </div>
</section>
 
  <script>
    function onSignIn(googleUser){
      console.log("User is " + JSON.stringify(googleUser.getBasicProfile()))
    }

    function signOut(){
      gapi.auth2.getAuthInstance().signOut().then(function(){
        console.log("User signed out")
      })
    }
  </script>


  