<div class=home>
  <div id="messge">
    <%= render 'layouts/messages.html.erb' %>
  </div>
  <div>
    <h1 class="welcome", style="font-size: 5rem;">Welcome to Ride Sharing</h1>
    <h3 class="welcome", style="font-size: 2.5rem;">A new way to change your trip</h3>
  </div>
  <div id="home-buttons">
    <% if !current_user %>
      <ul class="before_sign_in">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-success btn-lg sign_up_button"%>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-dark btn-lg sign_up_button"%>
      </ul>
    <% else %>
      <% if current_user.is_driver%>
        <ul class="sign_up">
          <%= link_to "Search for a request", search_user_requests_path(current_user), class: "btn btn-lg  btn-info sign_up_button"%>
          <%= link_to "Post an availability", new_user_availability_path(current_user), class: "btn btn-lg  btn-info sign_up_button"%>
        </ul>
      <% else %>
        <ul class="sign_up">
          <%= link_to "Search for a ride", search_user_availabilities_path(current_user), class: "btn btn-lg btn-info sign_up_button"%>
          <%= link_to "Make a request", new_user_request_path(current_user), class: "btn btn-lg btn-info sign_up_button"%>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
<div id="notifications">
</div>



  