<div class="card" style="margin-top:20px; width: 45rem; height: 25rem;">
  <div class="card-body" style="width: 40rem; height: 18rem;">
    <p>
      <i class="fas fa-map-marker-alt"></i><strong> Start address: </strong>
      <%= local_assigns[:a].start_street_address %>
    </p>
    <p>
      <i class="fas fa-map-marker-alt"></i><strong> End street address: </strong>
      <%= local_assigns[:a].end_street_address %>
    </p>
    <p>
      <i class="far fa-clock"></i><strong> Trip Time: </strong>
      <%= local_assigns[:a].trip_time %>
    </p>
    <p>
      <i class="fas fa-dollar-sign"></i><strong> Price Requested: </strong>
      <%= local_assigns[:a].lowest_acceptable_price %>
    </p>
    <p>
      <i class="fas fa-car"></i><strong> Trip Distance: </strong>
      <%= local_assigns[:a].trip_distance.round(2) %> km
    </p>
  </div>
</div>