<div id ="trip_info_partial">
  <% if !local_assigns[:trip_id].nil? %>
    <% trip = Trip.find(local_assigns[:trip_id]) %>
    <% if local_assigns[:type] == 'request'%>
      <i class="fas fa-map-marker-alt"></i><strong> Start address: </strong>
      <%= local_assigns[:request].start_street_address %><br>
      <i class="fas fa-map-marker-alt"></i><strong> End street address: </strong>
      <%= local_assigns[:request].end_street_address %><br>
      <i class="far fa-clock"></i><strong> Trip Time: </strong>
      <%= local_assigns[:request].trip_time %><br>
      <i class="fas fa-dollar-sign"></i><strong> Price Requested: </strong>
      <%= local_assigns[:request].highest_price_to_pay %><br>
      <i class="fas fa-car"></i><strong> Trip Distance: </strong>
      <%= local_assigns[:request].trip_distance %>km<br>
      <% make = Make.find_by(request_id: local_assigns[:request].id) %>
      <% rider = User.find(make.user_id) %>
      <div id="button_rider" style = "margin_bottom:5px;">
        <i class="fas fa-user"></i><strong> Rider: </strong>
        <%= rider.username %>
        <%= link_to "View Rider Profile", user_path(rider.id), class:"btn btn-primary btn-sm"%><br>
      </div>
      <div id="cancel_button" style="margin-top:2px;">
        <% if can_cancel_trip(trip.trip_time) %>
          <%= button_to "Cancel Trip", cancel_user_trip_path(current_user, trip.id, :trip_id => trip.id), remote: true, class: "btn btn-info btn-lg" %>
        <% end %>
      </div>
    <% else %>
      <i class="fas fa-map-marker-alt"></i><strong> Start address: </strong>
      <%= local_assigns[:availability].start_street_address %><br>
      <i class="fas fa-map-marker-alt"></i><strong> End street address: </strong>
      <%= local_assigns[:availability].end_street_address %><br>
      <i class="far fa-clock"></i><strong> Trip Time: </strong>
      <%= local_assigns[:availability].trip_time %><br>
      <i class="fas fa-dollar-sign"></i><strong> Price Requested: </strong>
      <%= local_assigns[:availability].lowest_acceptable_price %><br>
      <i class="fas fa-car"></i><strong> Trip Distance: </strong>
      <%= local_assigns[:availability].trip_distance.round(2) %>km<br>
      <% availability = local_assigns[:availability] %>
      <% rider = User.find(availability.matched_user_id) %>
      <i class="fas fa-user"></i><strong> Rider: </strong>
      <%= rider.username %>

      <%= link_to "View Rider Profile", user_path(rider.id), class:"btn btn-primary"%><br>
      <% if availability.matched_request_id > 0 %>
        <i class="far fa-clipboard"></i><strong> Matched request: </strong>
        <% request = Request.find(availability.matched_request_id) %>
        <%= link_to "View Request Matched", user_request_path(current_user, availability.matched_request_id), class:"btn btn-primary"%><br>
        <div id="cancel_button" style="margin-top:2px;">
          <% if can_cancel_trip(trip.trip_time) %>
            <%= button_to "Cancel Trip", cancel_user_trip_path(current_user, trip.id, :trip_id => trip.id), remote: true, class: "btn btn-info btn-lg" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>