<div id ="trip_info_partial">
  <% if local_assigns[:type] == 'request'%>
    <i class="fas fa-map-marker-alt"></i><strong> Start address: </strong>
    <%= local_assigns[:request].start_street_address %><br>
    <i class="fas fa-map-marker-alt"></i><strong> End street address: </strong>
    <%= local_assigns[:request].end_street_address %><br>
    <i class="far fa-clock"></i><strong> Trip Time: </strong>
    <%= local_assigns[:request].trip_time %><br>
    <i class="fas fa-dollar-sign"></i><strong> Price Requested: </strong>
    <%= local_assigns[:request].highest_price_to_pay %><br>
    <% make = Make.find_by(request_id: local_assigns[:request].id) %>
    <% rider = User.find_by(make.user_id) %>
    <i class="fas fa-user"></i><strong> Rider: </strong>
    <%= rider.username %>
    <%= link_to "View Rider Profile", user_path(rider.id), class:"btn btn-primary"%><br>
    <div id="cancel_button" style="margin-top:2px;">
      <% if can_cancel_trip(local_assigns[:request].trip_time) %>
        <%= button_to "Cancel Trip", cancel_user_trip_path(current_user, :trip_id => local_assigns[:request].id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn btn-info btn-lg" } %>
        <%= render 'cancel_modal' %>
      <% end %>
    </div>
  <% else %>
    <i class="fas fa-map-marker-alt"></i><strong> Start address: </strong>
    <%= local_assigns[:availability].start_street_address %><br>
    <i class="fas fa-map-marker-alt"></i><strong> End street address: </strong>
    <%= local_assigns[:availability].end_street_address %><br>
    <i class="far fa-clock"></i><strong> Trip Time: </strong>
    <%= local_assigns[:availability].trip_time %><br>
    <i class="fas fa-dollar-sign"></i><strong> Price Requested: </strong>
    <%= local_assigns[:availability].lowest_acceptable_price %><br>
    <% availability = local_assigns[:availability] %>
    <% rider = User.find(availability.matched_user_id) %>
    <i class="fas fa-user"></i><strong> Rider: </strong>
    <%= rider.username %>
    <%= link_to "View Rider Profile", user_path(rider.id), class:"btn btn-primary"%><br>
    <% if availability.matched_request_id != -1 %>
      <i class="far fa-clipboard"></i><strong> Matched request: </strong>
      <% request = Request.find(availability.matched_request_id) %>
      <%= link_to "View Request Matched", user_request_path(current_user, availability.matched_request_id), class:"btn btn-primary"%><br>
      <div id="cancel_button" style="margin-top:2px;">
        <% if can_cancel_trip(request.trip_time) %>
          <%= button_to "Cancel Trip", cancel_user_trip_path(current_user, :trip_id => request.id), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn btn-info btn-lg" } %>
          <%= render 'cancel_modal' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>