<div id="trips_info", style="margin-left:30%;">
  <div id = "upcoming" style="margin-top:5%">
    <h1>Upcoming Trips</h1>
    <% if !@upcoming_trips.empty? %>
      <% @upcoming_trips.each do |upcoming| %>
        <div class="card" style="margin-top:20px; width: 50rem; height: 30rem;">
          <div class="card-body" style="width: 40rem; height: 18rem;">
            <% if upcoming[1] == 'request'%>
              <% request = Request.find(upcoming[0]) %>
              <%#= upcoming[1] %>
              <%= render "trips_info", {:type => upcoming[1], :request => request, :trip_id => upcoming[2] } %>
            <% else %>
              <% availability = Availability.find(upcoming[0]) %>
              <%= render "trips_info", {:type => upcoming[1], :availability => availability, :trip_id => upcoming[2] } %>
            <% end %>
            <% if current_user.is_driver? %>
              <div id="start_button" style="margin-top:2px;">
                <%rider = Trip.find_by_id(upcoming[2]).rider_id %>
                <%username = User.find_by_id(current_user.id).username %>
                <%= link_to "Chat With Your Rider", landingindex_path(sender_id:current_user.id, receiver_id:rider, user_name:username), class: "btn btn-primary"%><br/>
              </div>
              <div>
                <%= link_to 'Start Ride', user_trip_path(current_user.id, upcoming[2]), class:"btn btn-primary", style: "margin-top: 10px; margin-left: 30%; margin-right: 30%" %>
              </div>
            <% else %>
              <div id="start_button" style="margin-top:2px;">
                <%= link_to 'Start Ride', user_rider_start_trip_path(current_user.id, :trip_id => upcoming[2]), class:"btn btn-primary" %>
                <%username = User.find_by_id(current_user.id).username %>
                <%driver = Trip.find_by_id(upcoming[2]).driver_id %>
                <%= link_to "Chat With Your Driver", landingindex_path(sender_id:current_user.id, receiver_id:driver, user_name:username), class: "btn btn-primary"%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render "no_trips", {:trip_type => "upcoming"}%>
    <% end %>
  </div>
  <div id="submitted", style="margin-top: 5%">
    <h1>Submitted Trips</h1>
    <% if current_user.is_driver %>
      <%= render "submitted_availability.html.erb" %>
    <% else %>
      <%= render "submitted_request.html.erb" %>
    <% end %>
  </div>

  <div id="waiting", style="margin-top: 5%">
    <h1>Waiting Trips</h1>
    <% if current_user.is_driver %>
      <%= render "waiting_availability.html.erb" %>
    <% else %>
      <%= render "waiting_request.html.erb" %>
    <% end %>
  </div>

  <div id="past", style="margin-top: 5%">
    <h1>Past Trips</h1>
    <% if !@past_trips.empty? %>
      <% @past_trips.each do |past| %>
        <div class="card" style="margin-top:20px; width: 45rem; height: 25rem;">
          <div class="card-body" style="width: 40rem; height: 18rem;">
            <% if past[1] == 'request'%>
              <% request = Request.find(past[0]) %>
              <%= past[1] %>
              <%= render "trips_info", {:type => past[1], :request => request, :trip_id => past[2] } %>
            <% else %>
              <% availability = Availability.find(past[0]) %>
              <%= render "trips_info", {:type => past[1], :availability => availability, :trip_id => past[2] } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render "no_trips", {:trip_type => "past"}%>
    <% end %>
  </div>
</div>