<% content_for :content do %>
  <div class="home">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
          <div class="signin_icon", style="margin-top: 3px; margin-bottom: 5px;">
            <img src="https://img.icons8.com/ios-filled/50/000000/carpool.png" id="icon" alt="User Icon"/>
          </div>
          <h4>Welcome to Ride Sharing</h4>
        </div>
        <!-- Login Form -->
        <div class="sign_in_form">
            <div class="content">
            <%= form_tag sessions_path do %>
              <div id="email", style="margin-left:10px; margin-right: 10px;">
                <%= label_tag "Email"%><br>
                <%= text_field_tag :email, nil, placeholder: "Email", class: "fadeIn second" %>
              </div>
              <div id="password", style="margin-top:5px; margin-left:10px; margin-right: 10px;">
                <%= label_tag "Password"%><br>
                <%= password_field_tag :password, nil, placeholder: "Password", class: "fadeIn third" %>
              </div>
              <div id="submit_button", style="margin-top:10px">
                <%= submit_tag "Log In", class:"fadeIn fourth"%>
              </div >
          </div>
          <% end %>
        </div>
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    function onSignIn(googleUser){
      // console.log("User is " + JSON.stringify(googleUser.getBasicProfile()))
      location.redirecturi("http://localhost:3000/users")
    }
    function signOut(){
      gapi.auth2.getAuthInstance().signOut().then(function(){
        console.log("User signed out")
      })
    }
</script>

