<div class="row">
    <div class="col-md-6">
    <label>User Name</label>
    </div>
    <div class="col-md-6">
    <p><%= @user.username %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Name</label>
    </div>
    <div class="col-md-6">
    <p><%= "#{@user.firstname} #{@user.lastname}" %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Email</label>
    </div>
    <div class="col-md-6">
    <p><%= @user.email %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Age</label>
    </div>
    <div class="col-md-6">
    <p><%= @user.age %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Phone</label>
    </div>
    <div class="col-md-6">
    <p><%= @user.phone_number %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Major</label>
    </div>
    <div class="col-md-6">
    <p><%= @user.major %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label>Year</label>
    </div>
    <div class="col-md-6">
    <p><%= @user.year %></p>
    </div>
</div>