<% if @user.is_driver %>
  <% @vehicle = Vehicle.find_by(user_id: @user.id) %>
  <% if @vehicle.nil? %>
    <% if current_user.id == @user.id %>
      <h1>Please submit your vehicle information</h1>
      <%= link_to 'Submit Vehicle Info', new_vehicle_path, class: 'btn btn-primary btn-btn-lg' %>
    <% end %>
  <% else %>
    <% if current_user.id == @user.id %>
      <div class="row">
        <div class="col-md-6">
          <label>License Number</label>
        </div>
        <div class="col-md-6">
          <p><%= @vehicle.license_number %></p>
        </div>
      </div>
    <% end %>
      <div class="row">
        <div class="col-md-6">
          <label>Make</label>
        </div>
        <div class="col-md-6">
          <p><%= @vehicle.vehicle_make %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Model</label>
        </div>
        <div class="col-md-6">
          <p><%= @vehicle.vehicle_model %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Color</label>
        </div>
        <div class="col-md-6">
          <p><%= @vehicle.vehicle_color %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Plate</label>
        </div>
        <div class="col-md-6">
          <p><%= @vehicle.vehicle_plate %></p>
        </div>
      </div>
  <% end %>
<% end %>