<div class="container emp-profile">
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <%= image_tag @user.avatar_attachment_path %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5><%= "#{@user.firstname} #{@user.lastname}" %></h5>
          <p class="proile-rating">RATINGS : <br>
            <% if @user.ratings > 0 %>
            <div style="margin-top:3px;">
              <% @user.ratings.to_i.times do %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
            </div>
          <% else %>
            <p> N/A</p>
          <% end %>
          </p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
            </li>
            <%# if current_user.id == @user.id %>
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" id="trip-tab" data-toggle="tab" href="#trip" role="tab" aria-controls="trip" aria-selected="false">Trip</a>-->
<!--              </li>-->
            <%# end %>
            <% if @user.is_driver %>
              <li class="nav-item">
                <a class="nav-link" id="vehicle-tab" data-toggle="tab" href="#vehicle" role="tab" aria-controls="vehicle" aria-selected="false">Vehicle</a>
              </li>
            <% end %>
          </ul>


          <!--          <ul class="nav nav-tabs" id="myTab" role="tablist">-->
          <%#= render 'profilenav'%>
          <!--          </ul>-->


        </div>
      </div>
      <div class="col-md-2">
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'profile-edit-btn' %>
        <% if @user.is_driver %>
          <% @vehicle = Vehicle.find_by(user_id: @user.id) %>
          <% if !@vehicle.nil? && current_user.id == @user.id %>
            <%= link_to 'Edit Vehicle', edit_user_vehicle_path(current_user.id, @vehicle.id), class: 'profile-edit-btn' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <%= render 'userinfo' %>
          </div>
          <%# if current_user.id == @user.id %>
<!--            <div class="tab-pane fade" id="trip" role="tabpanel" aria-labelledby="trip-tab">-->
              <%#= render 'tripinfo' %>
<!--            </div>-->
          <%# end %>
          <% if @user.is_driver %>
            <div class="tab-pane fade" id="vehicle" role="tabpanel" aria-labelledby="vehicle-tab">
              <%= render 'vehicleinfo' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>