<%= form_with(model: request, local: true, data: { controller: "maps", action: "google-maps-callback@window->maps#initializeMap"}) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this availability from being saved:</h2>
      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :start_street_address %>
    <%= form.text_field :start_street_address, class: "form-control", data: { target: "maps.fieldStart", action: "keydown->maps#preventSubmit" } %>
  </div>

  <div class="field">
    <%= form.label :end_street_address %>
    <%= form.text_field :end_street_address, class: "form-control", data: { target: "maps.fieldEnd", action: "keydown->maps#preventSubmit" }  %>
  </div>

  <div class="field">
    <%= form.label :trip_time %><br>
    <%= form.text_field :trip_time, data: {
                controller: "flatpickr",
                flatpickr_date_format: "Y-m-d H:i",
                flatpickr_enable_time: true,
                flatpickr_min_date: Time.zone.now }, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :highest_price_to_pay, 'Expected Trip Price'%>
    <%= form.text_field :highest_price_to_pay, label: 'Expected Price', class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-info btn-lg"%>
  </div>
<% end %>