<p id="notice"><%= notice %></p>

<div class="card text-left", style="margin-left:10%; margin-right:10%;">
  <div class="card-header">
    Ride Details
  </div>
  <div class="card-body">
      <div style="width:800px; margin-left:5px;">
      <p>
        <strong>Start Address:</strong>
        <%= @request.start_street_address %>
      </p>
      <p>
        <strong>End Address:</strong>
        <%= @request.end_street_address %>
      </p>
      <p>
        <strong>Trip time:</strong>
        <%= @request.trip_time %>
      </p>
      <p>
        <strong>Highest Price to Pay:</strong>
        <%= @request.highest_price_to_pay %>
      </p>
      <%= render partial: 'showRider', :locals => { :rider => local_assigns[:rider] } %>
      <%= link_to 'Back', search_user_requests_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>


