<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user_id %>
</p>

<p>
  <strong>Start city:</strong>
  <%= @request.start_city %>
</p>

<p>
  <strong>Start street address:</strong>
  <%= @request.start_street_address %>
</p>

<p>
  <strong>Start zip:</strong>
  <%= @request.start_zip %>
</p>

<p>
  <strong>End city:</strong>
  <%= @request.end_city %>
</p>

<p>
  <strong>End street address:</strong>
  <%= @request.end_street_address %>
</p>

<p>
  <strong>End zip:</strong>
  <%= @request.end_zip %>
</p>

<p>
  <strong>Trip date:</strong>
  <%= @request.trip_date %>
</p>

<p>
  <strong>Trip time:</strong>
  <%= @request.trip_time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @request.distance %>
</p>

<p>
  <strong>Highest price to pay:</strong>
  <%= @request.highest_price_to_pay %>
</p>

<p>
  <strong>Matched availability:</strong>
  <%= @request.matched_availability_id %>
</p>

<p>
  <strong>Request status:</strong>
  <%= @request.request_status %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
