<p id="notice" class = "container text-center" style="padding-top:5px"><%= notice %></p>

<div class="card text-left", style="margin-left:30%; margin-right:30%;">
  <div class="card-header">
    Ride Details
  </div>
  <div class="card-body">
      <div style="width:800px; margin-left:5px;">
      <p>
        <strong>Start Address:</strong><br/>
        <%= @request.start_street_address %>
      </p>
      <p>
        <strong>End Address:</strong><br/>
        <%= @request.end_street_address %>
      </p>
      <p>
        <strong>Trip time:</strong>
        <%= @request.trip_time %>
      </p>
      <p>
        <strong>Highest Price to Pay:</strong>
        <%= @request.highest_price_to_pay %>
      </p>

        <p>
          <strong>Trip Distance: </strong>
          <%= @request.trip_distance.round(2) %>km
        </p>
        <% user_id = Make.find_by(request_id: @request.id).user_id %>
      <% if current_user.id == user_id %>
        <% if @request.matched_user_id != -1 %>
          <p>
            <strong>You have been matched with a driver: </strong>
            <% driver = User.find(@request.matched_user_id) %>
            <%= link_to "View Driver Profile", user_path(driver), class: "btn btn-primary"%><br>
            <%= link_to "View Availability",  user_availability_path(@request.matched_user_id), class: "btn btn-primary"%><br>
            <%= link_to "Click to request ride", notify_user_notifications_path(current_user.id, :availability_id => @request.matched_availability_id), class: "btn btn-primary", remote: true%>
          </p>
        <% end %>

        <% end %>


        <% if current_user.id != local_assigns[:rider].id %>
          <%= render partial: 'showRider', :locals => { :rider => local_assigns[:rider] } %>
        <% end %>
    </div>
  </div>

</div>

<div style="text-align:center; padding-top:150px;">
  <%= link_to 'Back To Home Page', root_path, class:"btn btn-primary" %>
</div>


