<p id="notice"><%= notice %></p>

<h1>Vechiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>License number</th>
      <th>Vehicle make</th>
      <th>Vehicle model</th>
      <th>Vehicle plate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vechiles.each do |vechile| %>
      <tr>
        <td><%= vechile.user_id %></td>
        <td><%= vechile.license_number %></td>
        <td><%= vechile.vehicle_make %></td>
        <td><%= vechile.vehicle_model %></td>
        <td><%= vechile.vehicle_plate %></td>
        <td><%= link_to 'Show', vechile %></td>
        <td><%= link_to 'Edit', edit_vechile_path(vechile) %></td>
        <td><%= link_to 'Destroy', vechile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vechile', new_vechile_path %>
