<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Start:</strong>
  <%= @post.start %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @post.destination %>
</p>

<p>
  <strong>Trip date:</strong>
  <%= @post.trip_date %>
</p>

<p>
  <strong>Trip time:</strong>
  <%= @post.trip_time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @post.distance %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
