<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-row">
    <%= form.label :license_number %>
    <%= form.text_field :license_number, class: "form-control", required: true %>
  </div>

   <div class="form-row">
    <%= form.label :vehicle_make %>
    <%= form.text_field :vehicle_make, class: "form-control", required: true %>
  </div>

   <div class="form-row">
    <%= form.label :vehicle_model %>
    <%= form.text_field :vehicle_model, class: "form-control", required: true %>
  </div>

   <div class="form-row">
    <%= form.label :vehicle_color %>
    <%= form.text_field :vehicle_color, class: "form-control", required: true %>
  </div>

   <div class="form-row">
    <%= form.label :vehicle_plate %>
    <%= form.text_field :vehicle_plate, class: "form-control", required: true %>
  </div>

  <div class="actions", style="margin-top:20px; width: 30%; margin-left: 35%">
    <%= form.submit 'Submit Vehicle Info', class: "form-control btn btn-info btn-lg" %>
  </div>
<% end %>
