<p id="notice"><%= notice %></p>
<div class="card", style="width:40em;margin-left:25%">
  <div class="card-body", style="text-align: center">
    <h2 class="card-title">Your Vehicle Info: </h2>
    <p>
      <strong>License number:</strong>
      <%= @vehicle.license_number %>
    </p>

<<<<<<< HEAD
    <p>
      <strong>Vehicle make:</strong>
      <%= @vehicle.vehicle_make %>
    </p>

    <p>
      <strong>Vehicle model:</strong>
      <%= @vehicle.vehicle_model %>
    </p>

    <p>
      <strong>Vehicle color:</strong>
      <%= @vehicle.vehicle_color %>
    </p>

    <p>
      <strong>Vehicle plate:</strong>
      <%= @vehicle.vehicle_plate %>
    </p>

    <%= link_to 'Edit', edit_user_vehicle_path(current_user.id, @vehicle), class:"btn btn-primary" %> |
    <%= link_to 'Back', user_path(current_user.id), class:"btn btn-primary"%>

  </div>
</div>

=======
<div class="card text-left" , style="margin-left:10%; margin-right:10%;">
  <div class="card-header">
    Vehicle Details
  </div>
  <div class="card-body">
    <div style="width:800px; margin-left:5px;">
      <p>
        <strong>License number:</strong>
        <%= @vehicle.license_number %>
      </p>

      <p>
        <strong>Vehicle make:</strong>
        <%= @vehicle.vehicle_make %>
      </p>

      <p>
        <strong>Vehicle model:</strong>
        <%= @vehicle.vehicle_model %>
      </p>

      <p>
        <strong>Vehicle color:</strong>
        <%= @vehicle.vehicle_color %>
      </p>

      <p>
        <strong>Vehicle plate:</strong>
        <%= @vehicle.vehicle_plate %>
      </p>

      <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
      <%= link_to 'Back', vehicles_path %>


    </div>

  </div>
</div>
>>>>>>> 41d6b3979aa3cad467067fefc3e7c0b71f792b63
