<%= form_with(model: availability, local: true) do |form| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
        <% availability.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :start_city %>
    <%= form.text_field :start_city %>
  </div>

  <div class="field">
    <%= form.label :start_street_address %>
    <%= form.text_field :start_street_address %>
  </div>

  <div class="field">
    <%= form.label :start_zip %>
    <%= form.text_field :start_zip %>
  </div>

  <div class="field">
    <%= form.label :end_city %>
    <%= form.text_field :end_city %>
  </div>

  <div class="field">
    <%= form.label :end_street_address %>
    <%= form.text_field :end_street_address %>
  </div>

  <div class="field">
    <%= form.label :end_zip %>
    <%= form.text_field :end_zip %>
  </div>

  <div class="field">
    <%= form.label :trip_date %>
    <%= form.date_select :trip_date %>
  </div>

  <div class="field">
    <%= form.label :trip_time %>
    <%= form.datetime_select :trip_time %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_field :distance %>
  </div>

  <div class="field">
    <%= form.label :lowest_acceptable_price %>
    <%= form.text_field :lowest_acceptable_price %>
  </div>

  <div class="field">
    <%= form.label :matched_request_id %>
    <%= form.number_field :matched_request_id %>
  </div>

  <div class="field">
    <%= form.label :availability_status %>
    <%= form.text_field :availability_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
