<% @availabilities.each_slice(4).each do |a|%>
    <div class = "row", style = "margin-top: 2%;">
        <% a.each do |availability| %>
            <div class="col-md-3">
                <%= render 'card',  :availability => availability%>
            </div>
        <% end %>
    </div>
<% end %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
    </div>
    <div class="modal-body">
        <p>Ride has been requested. Please wait for driver to confirm your ride. </p>
        <br>
        <p>Please select how to inform the driver.</p>
      <div class="sign_in_form">
        <%= form_with url: '/notify', method: :get  do |f| %>
          <div id="notify_way", style="margin-top:5px;">
            <%= f.radio_button :is_send_notification?, true %>
            <%= f.label :is_send_notification, 'Send Notification', value: true%>
            <%= f.radio_button :is_send_notification?, false %>
            <%= f.label :is_send_notification, 'Send Text', value: false%>
          </div>
          <div id="submit_button", style="margin-top:10px">
            <%= f.submit "Notify", class:"fadeIn fourth"%>
          </div>
        <% end %>
      </div>
<!--        <label for="inform_method">Choose a way: </label>-->
<!--        <select id="inform_method">-->
<!--          <option value="send_text">Texting</option>-->
<!--          <option value="send_notification">Notification</option>-->
<!--        </select>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    
    </div>
  </div>
</div>