<%= form_with model: @availability, method: :get, local: true, data: { controller: "maps", action: "google-maps-callback@window->maps#initializeMap" } do |f| %>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :start_street_address %>
            <%= f.text_field :start_street_address, class: "form-control", data: { target: "maps.fieldStart", action: "keydown->maps#preventSubmit" } %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :end_street_address %>
            <%= f.text_field :end_street_address, class: "form-control", data: { target: "maps.fieldEnd", action: "keydown->maps#preventSubmit" } %>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <%= f.label :trip_time %><br>
            <%= f.datetime_select :trip_time, :default => { :hour => 23, :minute => 59 }, class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
            <%= f.label :lowest_acceptable_price %>
            <%= f.text_field :lowest_acceptable_price, label: 'Expected Price', class: "form-control" %>
        </div>
        <div class="form-group col-md-4", style = "margin-top: 2.3%; margin-left: 5%;">
            <%= f.submit 'Search', class: "btn btn-info btn-lg" %>
        </div>
    </div>
<% end %>