<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p>Ride has been requested. Please wait for driver to confirm your ride. </p>
  <br>
  <p>Please select how to inform the driver.</p>
  <% puts @availability.id %>
  <div class="sign_in_form">
    <%= form_with url: '/notify', method: :get do |f| %>
      <div id="notify_way" , style="margin-top:5px;">
        <%= f.radio_button :is_send_notification?, true %>
        <%= f.label :is_send_notification, 'Send Notification', value: true %>
        <%= f.radio_button :is_send_notification?, false %>
        <%= f.label :is_send_notification, 'Send Text', value: false %>
        <%= f.hidden_field :availability_id, :value => @availability.id %>
      </div>
      <div id="submit_button" , style="margin-top:10px">
        <%= f.submit "Notify", class: "fadeIn fourth" %>
      </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
