<p id="notice" class = "container text-center" style="padding-top:5px"><%= notice %></p>

<div class="card text-left", style="margin-left:30%; margin-right:30%;">
  <div class="card-header">
    Ride Details
  </div>
  <div class="card-body">
      <div style="width:800px; margin-left:5px;">
      <p>
        <strong>Start Address:</strong>
        <%= @availability.start_street_address %>
      </p>
      <p>
        <strong>End Address:</strong>
        <%= @availability.end_street_address %>
      </p>
      <p>
        <strong>Trip time:</strong>
        <%= @availability.trip_time %>
      </p>
      <p>
        <strong>Lowest acceptable price:</strong>
        <%= @availability.lowest_acceptable_price %>
      </p>
        <p>
          <strong>Trip Distance: </strong>
          <%= @availability.trip_distance.round(2) %>km
        </p>
      <% if current_user.id != local_assigns[:driver].id %>
        <%= render partial: 'showDriver', :locals => { :driver => local_assigns[:driver] } %>
          <%= link_to 'Back', search_user_requests_path(current_user), class: "btn btn-primary" %>
      <% else %>
          <%= link_to 'Back', new_user_availability_path, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

<div style="text-align:center; padding-top:150px;">
  <%= link_to 'Back To Home Page', root_path, class:"btn btn-primary" %>
</div>


