<p id="notice"><%= notice %></p>

<div class="card text-left", style="margin-left:10%; margin-right:10%;">
  <div class="card-header">
    Ride Details
  </div>
  <div class="card-body">
      <div style="width:800px; margin-left:5px;">
      <p>
        <strong>Start Address:</strong>
        <%= @availability.start_street_address %>
      </p>
      <p>
        <strong>End Address:</strong>
        <%= @availability.end_street_address %>
      </p>
      <p>
        <strong>Trip time:</strong>
        <%= @availability.trip_time %>
      </p>
      <p>
        <strong>Lowest acceptable price:</strong>
        <%= @availability.lowest_acceptable_price %>
      </p>
      <% if @user %>
        <p>
          <strong>Ride offered by:</strong>
          <%= @user.username %>
          <%= link_to 'View driver profile', search_rides_path, class: "btn btn-primary" %>
        </p>
      <% end %>
      <%= link_to 'Back', search_rides_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% if @user %>
  <p>
    <strong>Ride offered by:</strong>
    <%= @availability.start_street_address %>
  </p>
<% end %>

